@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
}

.Benefits__header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.8);

  text-align: center;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
}
